body {
  background: url(images/handcarts.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a.nav-item.nav-link {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  text-decoration: none;
}

a.nav-item.nav-link:hover {
  color: #F5F5F5;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  font-weight: bold;
}

a.nav-item.nav-link:after {
  content: "|";
  margin: 0 10px;
}

a.nav-item:last-child:after {
  display: none;
}

.dns-title {
  color: white;
  font-size: 80px;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  text-align: center;
}

.video {
  background: rgba(255, 255, 255, 0.8);
  margin: 40px auto;
  height: 460px;
  width: 820px;
  border-radius: 5px;
}

iframe {
  display: table;
  margin: auto;
  height: 450px;
  width: 800px;
  padding-top: 10px;
}

.calendar {
  background: white;
  opacity: .8;
}

.packing-list {
  opacity: .8;
  display: table;
  margin: 0 auto;
}

.packing-list li {
  list-style-type: none;
}

.packing-list .boys {
  display: inline-block;
  list-style-type: none;
  height: 300px;
  width: 350px;
  background: white;
  /*margin-right: 120px;*/
  border-radius: 5px;
}

.packing-list .girls {
  display: inline-block;
  list-style-type: none;
  height: 300px;
  width: 350px;
  background: white;
  margin-left: 120px;
  border-radius: 5px;
}
